<p style="color: green"><%= notice %></p>

<h1><%= t '.title' %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
    <%= render book %>
    <p>
      <%= link_to t('normal.show'), book %>
    </p>
    </div>
  <% end %>
</div>
<nav class="page-nav">
<%= link_to t('.new'), new_book_path %>
</nav>
<%= link_to 'English', set_locale_path(locale: 'en') %>
<%= link_to '日本語', set_locale_path(locale: 'ja') %>
